@import url('https://fonts.googleapis.com/css?family=Poppins&family=Roboto&family=Ubuntu&family=Fascinate&display=swap');

:root {
  --border-5: 5px;
  --border-15: 15px;
  --transition-speed-4: 0.4s;
  --transition-speed-10: 1s;
  --font-color-main: #4c3a51;
  --color-bg-main: aliceblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
}

::-webkit-scrollbar {
  display: none;
}

/* header */
header {
  height: 100px;
  background-color: #efefef;
}

header nav {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

h3 a {
  text-decoration: none;
}

header nav ul {
  height: 100%;
  margin: 0;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
}

/* main */
main {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 140px;
}

.main-img-box {
  height: 500px;
  width: 100%;
  position: relative;
  padding: 0;
}

.main-img {
  /* main image section styles */
  height: 500px;
  background: url('https://source.unsplash.com/random') center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: 0.4s linear;
  overflow: hidden;
}

.main-img.blur {
  filter: blur(100px);
}

.count {
  height: 200px;
  width: 200px;
  font-size: 5rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  transition: 0.4s linear;
}

.count::before {
  content: '';
  position: absolute;
  color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0.2;
  background-color: blue;
}

.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Fascinate';
  font-size: 4rem;
  color: #4c3a51;
  background-color: #ffb562;
  padding: 0 50px;
  border-radius: var(--border-5);
  opacity: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) translateY(50px);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.show {
  opacity: 1;
  transform: translate(-50%, -50%) translateY(0);
}

/* section 1 javascript */
.games-box {
  /* main image section styles */
  display: flex;  
  gap: 10px;
}

.panel {
  border-radius: var(--border-15);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  overflow: hidden;
  transition: var(--transition-speed-10) cubic-bezier(0.59, -0.53, 0, 1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.expand {
  flex-grow: 1;
}

.panel h3 {
  opacity: 0;
  white-space: nowrap;
  transition: var(--transition-speed-10) ease-in var(--transition-speed-4);
}

.panel.expand h3 {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.panel h3 a {
  color: #fff;
  font-size: 2rem;
  transition: var(--transition-speed-4) ease;
}

.panel h3 a:hover {
  color: aquamarine !important;
}

/* section 2 c# and monogame */
.games-box-c {
  display: flex;    
}

.games-box-c .panel-left, .panel-right{
  overflow: hidden;
  transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.panel-left {
  width: 30%;
  background: blue;  
  position: relative;
}

.panel-right {
  width: 70%;
  position: relative;
}

.panel-right > div {
  transform: translateY(-300%);
}

.panel-img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);  
}

.btn-panel {
  height: 50px;
  width: 50px;    
  position: absolute;  
  top: 50%;
  transform: translateY(-50%);     
  border: none; 
  color: #fff;
  z-index:10 ;
}

.btn-panel-up {
  position: absolute;    
  right: 0;    
  transform: translateY(-50px);     
  border-radius: 5px 0 0 5px;
}

.btn-panel-down {
  position: absolute;    
  left: 0;    
  transform: translateY(5px);     
  border-radius: 0 5px 5px 0;
}

/* section 3 c# and monogame */

/* section 4 c# and monogame */

/* footer */
footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #383838;
  color: #efefef;
  margin-top: 200px;  
}

.contact-box {
  height: 200px;  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-box i {
  cursor: pointer;
}

.contact-box a {
  color: #efefef;
}

.contact-box a:hover {
  color: #E8630A;
}

/* shared */
section {
  min-height: 500px;
  position: relative;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
}

.btn-home {
  position: fixed;
  top: 10px;
  right: 10px;
  text-decoration: none;
}

.section-title {
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0 150px;
}

.arrow-box {
  position: absolute;
  top: -50px;
  height: 50px;
  background-color: #4c3a51;
  width: 100%;
  overflow: hidden;  
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
  transform: translateX(200%);
  transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.arrow-box::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100px;
  width: 50px;
  background-color: var(--color-bg-main);  
  transform: rotate(45deg) translate(30px, -90px);
}

.arrow-box::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100px;
  width: 50px;
  background-color: var(--color-bg-main);
  transform: rotate(-45deg) translate(66px, 55px);
}

.arrow-box-even {
  transform: translateX(-200%);  
}

.arrow-box-even .section-title {
  justify-content: end;
}

.arrow-box-even::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  width: 50px;
  background-color: var(--color-bg-main);  
  transform: rotate(45deg) translate(-65px, 65px);
}

.arrow-box-even::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  width: 50px;
  background-color: var(--color-bg-main);
  transform: rotate(-45deg) translate(-30px, -90px);
}


.show-arrow {
  transform: translateX(0);
}
