@import url('https://fonts.googleapis.com/css?family=Poppins&family=Roboto&family=Ubuntu&family=Fascinate&display=swap');

:root {
  --border-5: 5px;
  --border-15: 15px;
  --transition-speed-4: 0.4s;
  --transition-speed-10: 1s;
  --font-color-main: #4c3a51;
  --color-bg-main: aliceblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Poppins';
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

/* header */
header {
  min-height: 150px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #efefef;
}

header .menu-icon-box {
  height: 50px;
  width: 50px;
  border: 1px solid aliceblue;  
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transform: scale(0);
  position: fixed;
  top: 10px;
  left: 10px;
  transition: 0.4s ease;
  z-index: 4;
}

header .menu-icon-box:active {
  transform: scale(0.9);
}

header .menu-icon-box .menu-line {
  height: 3px;
  width: 25px;
  background-color: black;
  transition: 0.4s ease;
  border-radius: 5px;
}

.menu-icon-clicked .line-1 {
  position: absolute;
  transform: rotate(45deg);
}

.menu-icon-clicked .line-2 {
  opacity: 0;
}

.menu-icon-clicked .line-3 {
  position: absolute;
  transform: rotate(-45deg);
}

header nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

h3 a {
  text-decoration: none;
}

header nav ul {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
}

header nav ul li {
  list-style: none;
  width: 170px;
  text-align: center;
  border: 3px solid transparent;
}

header nav ul li:hover {
  border-bottom-color: #e8630a;
}

header nav ul li:active {
  transform: scale(0.97);
}

header nav ul li a {
  text-decoration: none;
  color: #383838;
  transition: 0.4s ease;
}

/* main */
main {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 140px;
}

.main-img-box {
  height: 700px;
  width: 100%;
  position: relative;
  padding: 0;
}

.main-img {
  /* main image section styles */
  height: 100%;
  background: url('https://source.unsplash.com/random') center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: 0.4s linear;
  overflow: hidden;
}

.main-img.blur {
  filter: blur(100px);
}

.count {
  height: 200px;
  width: 200px;
  font-size: 5rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  transition: 0.4s linear;
}

.count::before {
  content: '';
  position: absolute;
  color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0.2;
  background-color: blue;
}

.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Fascinate';
  font-size: 4rem;
  color: #4c3a51;
  background-color: #ffb562;
  padding: 0 50px;
  border-radius: var(--border-5);
  opacity: 0;
  text-align: center;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) translateY(50px);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.show {
  opacity: 1;
  transform: translate(-50%, -50%) translateY(0);
}

/* section 2 javascript */
.games-box {
  /* main image section styles */
  display: flex;
  gap: 10px;
}

.panel {
  border-radius: var(--border-15);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  overflow: hidden;
  transition: var(--transition-speed-10) cubic-bezier(0.59, -0.53, 0, 1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.expand {
  flex-grow: 1;
}

.panel h3 {
  opacity: 0;
  white-space: nowrap;
  transform: scale(0);
  transition: var(--transition-speed-10) ease-in var(--transition-speed-4);
}

.panel.expand h3 {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  animation: scaleUP 0.1s forwards;
}

@keyframes scaleUP {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.panel h3 a {
  color: #fff;
  font-size: 2rem;
  transition: var(--transition-speed-4) ease;
}

.panel h3 a:hover {
  color: aquamarine !important;
}

/* section 3 c# and monogame */
.games-box-c {
  display: flex;
}

.games-box-c .panel-left,
.panel-right {
  overflow: hidden;
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.panel-left {
  width: 30%;
  position: relative;
}

.panel-right {
  width: 70%;
  position: relative;
}

.panel-right > div {
  transform: translateY(-300%);
}

.panel-img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 2rem;
  color: #efefef;
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.panel-img p {
  word-wrap: break-word;
  width: 100%;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}

.panel-img a {
  height: 100%;
  width: 100%;
}

.panel-img a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.btn-panel {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-color: transparent;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}

.btn-panel:hover {
  background-color: #efefef;
}

.btn-panel-up {
  position: absolute;
  right: 0;
  transform: translateY(-50px);
  border-radius: 5px 0 0 5px;
}

.btn-panel-up:focus {
  transform: translateY(-50px) !important;
}

.btn-panel-up:active {
  transform: translateY(-50px) !important;
}

.btn-panel-down {
  position: absolute;
  left: 0;
  transform: translateY(5px);
  border-radius: 0 5px 5px 0;
}

.img-guide-box {
  height: 100%;
  position: absolute;
  right: 0;
}

.img-guide-text {
  height: 100%;
  width: 500px;
  position: absolute;
  right: 0;
  padding: 10px 70px 10px 10px;
  transform: translateX(200%);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.img-guide-text h4 {
  margin: 10px 10px 40px;
  letter-spacing: 1px;
}

.img-guide-text p {
  letter-spacing: 1px;
}

.img-guide-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 0;
  background-color: #2a86ba;
  color: #efefef;
  border: none;
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.show-info {
  transform: translateX(0px);
}

/* section 4 about */
.about-section-box {
}

.about-box {
  height: 700px;
  width: 100%;
  position: relative;
}

.about-box div {
  height: 50%;
  width: 50%;
  position: absolute;
  overflow: hidden;
  transition: 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.about-box div .about-title {
  transition: 0.4s ease;
}

.about-box div .about-context {
  max-height: 400px;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  transform: scale(0);
  position: absolute;
  transition: 0.4s ease;
  overflow-y: scroll;
}

.about-left-top-box {
  background: #2a86ba;
  top: 0;
  left: 0;
}

.about-right-top-box {
  background: #fd3555;
  top: 0;
  right: 0;
}

.about-left-bottom-box {
  background: #816797;
  bottom: 0;
  left: 0;
}

.about-right-bottom-box {
  background: #ffb866;
  bottom: 0;
  right: 0;
}

/* left top */
.hover-left-top .about-left-top-box {
  height: 80%;
  width: 80%;
}

.hover-left-top .about-left-top-box .about-title {
  transform: scale(0);
}

.hover-left-top .about-left-top-box .about-context {
  transform: scale(1);
}

.hover-left-top .about-right-top-box {
  height: 80%;
  width: 20%;
}

.hover-left-top .about-left-bottom-box {
  height: 20%;
  width: 80%;
}

.hover-left-top .about-right-bottom-box {
  height: 20%;
  width: 20%;
}

/* right top */
.hover-right-top .about-right-top-box {
  height: 80%;
  width: 80%;
}

.hover-right-top .about-right-top-box .about-title {
  transform: scale(0);
}

.hover-right-top .about-right-top-box .about-context {
  transform: scale(1);
}

.hover-right-top .about-left-top-box {
  height: 80%;
  width: 20%;
}

.hover-right-top .about-left-bottom-box {
  height: 20%;
  width: 20%;
}

.hover-right-top .about-right-bottom-box {
  height: 20%;
  width: 80%;
}

/* left bottom */
.hover-left-bottom .about-left-bottom-box {
  height: 80%;
  width: 80%;
}

.hover-left-bottom .about-left-bottom-box .about-title {
  transform: scale(0);
}

.hover-left-bottom .about-left-bottom-box .about-context {
  transform: scale(1);
}

.hover-left-bottom .about-left-top-box {
  height: 20%;
  width: 80%;
}

.hover-left-bottom .about-right-top-box {
  height: 20%;
  width: 20%;
}

.hover-left-bottom .about-right-bottom-box {
  height: 80%;
  width: 20%;
}

/* right bottom */
.hover-right-bottom .about-right-bottom-box {
  height: 80%;
  width: 80%;
}

.hover-right-bottom .about-right-bottom-box .about-title {
  transform: scale(0);
}

.hover-right-bottom .about-right-bottom-box .about-context {
  transform: scale(1);
}

.hover-right-bottom .about-left-top-box {
  height: 20%;
  width: 20%;
}

.hover-right-bottom .about-right-top-box {
  height: 20%;
  width: 80%;
}

.hover-right-bottom .about-left-bottom-box {
  height: 80%;
  width: 20%;
}

/* section 5 contact */
.contact-box {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-me-title {
  width: 300px;
  text-align: center;
}

.contact-me-form {
  width: 400px;
  background: #ffb866;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}

.contact-me-form input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  padding: 5px;
}

.contact-me-form input:focus {
  outline: none;
}

.contact-me-form textarea {
  width: 100%;
}

.contact-me-btn {
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
  background-color: #383838;
  border-radius: 5px;
  margin-bottom: 15px;
  translate: 0.4 ease;
}

.contact-me-btn:active {
  transform: scale(0.97);
}

.contact-me-form textarea:focus {
  outline: none;
}

.contact-me-form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
  background-color: transparent;
}

.contact-me-form-control input {
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #333;
}

.contact-me-form-control textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #333;
}

.contact-me-form-control input:focus {
  outline: 0;
  border-bottom-color: #40dfef;
}

.contact-me-form-control textarea:focus {
  outline: 0;
  border-bottom-color: #40dfef;
}

.contact-me-form-control label {
  position: absolute;
  top: 8px;
  left: 0;
  pointer-events: none;
}

.contact-me-form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contact-me-form-control input[type='text']:focus + label span,
.contact-me-form-control input[type='text']:valid + label span {
  color: #40dfef;
  transform: translateY(-30px);
}

.contact-me-form-control input[type='email']:focus + label span,
.contact-me-form-control input[type='email']:valid + label span {
  color: #40dfef;
  transform: translateY(-30px);
}

.contact-me-form-control textarea:focus + label span,
.contact-me-form-control textarea:valid + label span {
  color: #40dfef;
  transform: translateY(-30px);
}

.contact-me-form-control input[type='checkbox'] {
  display: none;
}

.contact-me-form-control input[type='checkbox'] + label {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: 1px solid rebeccapurple;
}

.contact-me-form-control input[type='checkbox']:checked + label {
  background-color: aqua;
}

/* section 6 survey */
.survey-container {
  position: relative;
}

.survey-box {
  height: 400px;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.survey-box {
  display: flex;
  flex-direction: column;
  gap: 70px;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}

.survey-box strong {
  width: 80%;
  text-align: center;
  word-wrap: break-word;
}

.survey-choice-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 0.4s ease;
}

.survey-choice-form .survey-choice-box {
  display: flex;
  gap: 10px;
}

.survey-choice-form button {
  width: 100%;
}

.survey-choice {
  width: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.survey-choice input {
  display: none;
}

.survey-choice i:after {
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: goOut 1s forwards;
}

.survey-choice input:checked + i::after {
  background: linear-gradient(
    90deg,
    rgba(201, 218, 50, 0.3) 91%,
    rgb(219, 235, 5) 91%
  );
  animation: goIn 1s forwards;
}

.survey-choice:hover i::after {
  border: 3px solid rgb(219, 235, 5);
}

.survey-result-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0);
  position: absolute;
  transition: 0.4s ease;
}

.survey-result-box small {
  font-size: 1rem;
}

.survey-statistics-box {
  transform: scale(0);
  position: absolute;
  transition: 0.4s ease;
  text-align: center;
}

.survey-statistics-box > i {
  margin-bottom: 70px;
}

.survey-statistics-box button {
  width: 100%;
}

.survey-statistics-item-box {
  transition: 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statistics-item {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
  align-items: center;
}

.survey-box.show-survey-result .survey-result-box {
  position: initial;
  transform: scale(1);
}

.survey-box.show-survey-result .survey-choice-form {
  position: absolute;
  transform: scale(0);
}

.survey-box.show-statistics .survey-statistics-box {
  position: initial;
  transform: scale(1);
}

.survey-box.show-statistics .survey-choice-form {
  position: absolute;
  transform: scale(0);
}

@keyframes goIn {
  10% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes goOut {
  0% {
    background: linear-gradient(
      90deg,
      rgba(201, 218, 50, 0.3) 91%,
      rgb(219, 235, 5) 91%
    );
    width: 100%;
  }

  100% {
    background: linear-gradient(
      90deg,
      rgba(201, 218, 50, 0.3) 91%,
      rgb(219, 235, 5) 91%
    );
    width: 0;
  }
}

/* footer */
footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #383838;
  color: #efefef;
  margin-top: 200px;
}

.footer-contact-box {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-contact-box i {
  cursor: pointer;
}

.footer-contact-box a {
  color: #efefef;
}

.footer-contact-box a:hover {
  color: #e8630a;
}

/* shared */
section {
  min-height: 600px;
  position: relative;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
}

.btn-home {
  position: fixed;
  top: 10px;
  right: 10px;
  text-decoration: none;
}

.section-title {
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0 150px;
  text-align: center;
}

.arrow-box {
  position: absolute;
  top: -50px;
  height: 50px;
  background-color: #4c3a51;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  transform: translateX(200%);
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.arrow-box::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100px;
  width: 50px;
  background-color: var(--color-bg-main);
  transform: rotate(45deg) translate(30px, -90px);
}

.arrow-box::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100px;
  width: 50px;
  background-color: var(--color-bg-main);
  transform: rotate(-45deg) translate(66px, 55px);
}

.arrow-box-even {
  transform: translateX(-200%);
}

.arrow-box-even .section-title {
  justify-content: end;
}

.arrow-box-even::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  width: 50px;
  background-color: var(--color-bg-main);
  transform: rotate(45deg) translate(-65px, 65px);
}

.arrow-box-even::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  width: 50px;
  background-color: var(--color-bg-main);
  transform: rotate(-45deg) translate(-30px, -90px);
}

.show-arrow {
  transform: translateX(0);
}

@media all and (max-width: 700px) {
  .contact-box {
    flex-direction: column;
  }
}
