@media all and (max-width: 880px) {  
  header nav {
    margin-top: 20px;
    flex-direction: column;
    gap: 30px;    
  }

  header nav ul {
    height: 200px;    
    flex-direction: column;
    padding: 0;
    position: fixed;
    top: 70px;            
    z-index: 4;
    font-size: 1.1rem;       
    border-radius: 5px;  
    transform: translateY(-200%);
    transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);      
    padding: 0 10px;    
    gap: 3px;
  }

  .menu-icon-clicked + nav ul {
    transform: translateY(0);
  }

  header nav ul li {
    width: 100%;    
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;        
  }

  header nav ul li a {
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
  }
  
  header nav ul li:first-child {
    background-color: #2a86ba;
    border-radius: 5px 5px 0 0;
  }
  
  header nav ul li:nth-of-type(2) {
    background-color: #fd3555;    
  }
  
  header nav ul li:nth-child(3) {
    background-color: #816797;
  }

  header nav ul li:last-child {
    background-color: #ffb866;
    border-radius: 0 0 5px 5px;
  }

  header .menu-icon-box {
    transform: scale(1);
  }
}

@media all and (max-width: 650px) {
  .games-box {
    height: 800px;
    flex-direction: column;
  }

  .panel {
    width: 100%;
  }

  .games-box-c {
    flex-direction: column;
  }

  .panel-left,
  .panel-right {
    height: 150px;
    width: 100%;
  }

  .btn-panel-up {
    height: 100%;
    width: 70px;
    left: 0;
    transform: translate(0px, -75px);
    bottom: 0;
    background-color: transparent;
    color: #fff;
  }

  .btn-panel-up:focus {
    transform: translate(0px, -75px) !important;
    background-color: transparent;
    border: none;
  }

  .btn-panel-down {
    height: 100%;
    width: 70px;
    transform: translate(0px, -75px);
    background-color: transparent;
  }

  .btn-panel-down:focus {
    background-color: transparent;
    border: none;
  }

  .img-guide-text {
    width: 100vw;
  }
}

@media all and (max-width: 420px) {
  .about-box div .about-context {
    height: 90%;
    width: 90%;
  }
}
