@media all and (max-width: 880px) {
  header nav {
    margin-top: 20px;
    flex-direction: column;
    gap: 30px;
  }

  header nav ul {
    flex-direction: column;
    padding: 0;
  }

  header nav ul li {
    width: 100%;
  }
}

@media all and (max-width: 650px) {
  .games-box {
    height: 800px;
    flex-direction: column;
  }

  .panel {
    width: 100%;
  }

  .games-box-c {
    flex-direction: column;
  }

  .panel-left,
  .panel-right {
    height: 150px;
    width: 100%;
  }

  .btn-panel-up {
    height: 100%;
    width: 70px;
    left: 0;
    transform: translate(0px, -75px);
    bottom: 0;
    background-color: transparent;
    color: #fff;
  }

  .btn-panel-up:focus {
    transform: translate(0px, -75px) !important;
    background-color: transparent;
    border: none;
  }

  .btn-panel-down {
    height: 100%;
    width: 70px;
    transform: translate(0px, -75px);
    background-color: transparent;
  }

  .btn-panel-down:focus {
    background-color: transparent;
    border: none;
  }

  .img-guide-text {
    width: 100vw;
  }
}

@media all and (max-width: 420px) {
  .about-box div .about-context {
    height: 90%;
    width: 90%;
  }
}
