@media all and (max-width: 880px) {
  header nav {
    margin-top: 20px;
    flex-direction: column;
    gap: 30px;
  }

  header nav ul {
    flex-direction: column;
    padding: 0;
  }

  header nav ul li {
    width: 100%;
  }
}

@media all and (max-width: 650px) {
  .games-box {
    height: 800px;
    flex-direction: column;
  }

  .panel {
    width: 100%;
  }

  /* .games-box-c {
    flex-direction: column;
  } */
}
