@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Press Start 2P';
  background-color: cornflowerblue;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://pngimg.com/uploads/clover/clover_PNG24225.png")
  ;
  overflow: hidden;
}

.title {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

/* first page */
.page-box {
  height: 100%;
  transition: .4s ease;
}

/* second page */
.pages {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  transition: .4s ease;
}

.btn {
  font-family: 'Press Start 2P';
  height: 50px;
  min-width: 100px;
  padding: 0 10px;
  cursor: pointer;
  background-color: #C2F784;
  color: #0F52BA;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
}

.btn:active {
  transform: scale(.9);
}

.choice-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

img {
  height: 90px;
  width: 90px;
  margin-top: 20px;
}

.choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border: solid #fff;
  margin: 10px;
  cursor: pointer;
}

.choices:hover {
  background-color: #fff;
  color: cornflowerblue;
}

/* third page */
.page-third-text-box {
  height: 100px;
  width: 100%;
  padding: 0 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-screen {
  height: 100%;
  width: 95%;
  margin: 30px 20px;
  position: relative;
  z-index: 1;
  
}

.game-screen::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #B85C38;
  opacity: .4;
  z-index: 2;
}

.game-screen img {
  position: absolute;
  background-image: url('https://pngimg.com/uploads/mug_coffee/mug_coffee_PNG16824.png');
  z-index: 3;
  top: 10px;
  left: 10px;
  margin: 0;
  transform: translate(-50%, -50%);
}

