@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Lato&family=Muli&family=Press+Start+2P&display=swap');

:root { /* using variable */
    --line-fill: #F94C66;
    --line-empty: #e0e0e0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Press Start 2P', sans-serifs;
    height: 100vh;
    overflow: hidden;
}

.btn-start {
    width: 200px !important;
    font-size: 2rem;
}

.pages {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s cubic-bezier(0.35,0.16,0.68,1.57);
}

.page-one {
    
}

/* second page */
.page-two {
    position: absolute;
    padding: 15px;
    transform: translate(100%, -100%);
    display: flex;
    flex-direction: column;
}

.page-two .img {
    background-image: url('https://unsplash.com/photos/7Z03R1wOdmI');
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.page-two .container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.page-two .title {
    margin-bottom: 20px;
}

.page-two .players {
    margin-left: auto;
}

.page-two .players input {
    width: 110px;
    padding: 0 15px;
    text-align: right;
}

.page-two .container .players input:focus {
    outline: none;
}

.page-two .container .row {
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    margin: 20px 0;
}

/* third page */
.page-three {
    position: absolute;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;    
}

.page-three .container {    
    margin: 0 auto;
    display: flex;
}

.page-three .display-box {    
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.selected-players-box {
    min-height: 100px; 
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;    
}

/* fourth page */
.page-four {
    display: flex;
    flex-direction: column;    
}

.sum-up-box {       
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0;
}

/* styles for pockets */
.character-box {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;    
    position: relative;
    transition: .4s ease;
    animation: shell 1s forwards; /*test*/
}

.character-box .img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    transition: .4s ease;
}

/* styles for pocket encapsulation */
.character-box.pick .img {
    background: linear-gradient(0deg, rgba(255,255,255,1) 46%, rgba(0,0,0,1) 46%, rgba(0,0,0,1) 52%, rgba(255,0,0,1) 52%);
    border: 1px solid #000;
    animation: shell 2s ease forwards;
}

@keyframes shell {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.circle {
    height: 50px;
    width: 40px;
    position: absolute;
    background-color: #000;
    opacity: .2;
    bottom: 0px;
    right: 40px;
    transform: rotateX(70deg) rotateY(-10deg);
    border-radius: 50%;
    z-index: -1;
}

.character-box.pick .circle {
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;    
    z-index: 2;
    transform: rotateX(0) rotateY(0) translate(-50%, -50%);
    background-color: #fff;
    border: 5px solid #000;
    opacity: 1;
    background-color: transparent;
    animation: shell 2s ease forwards;
}

.character-box.pick .circle::before {
    content: '';
    height: 25px;
    width: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000;    
    border-radius: 50%;
    background-color: transparent;
    z-index: 3;
}

.character-box.pick .circle::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: white;
    opacity: .8;
    z-index: inherit;
}

/* styles for pocket selection effect */
.character-box.select .img {
    background: linear-gradient(0deg, rgba(255,255,255,1) 46%, rgba(0,0,0,1) 46%, rgba(0,0,0,1) 52%, rgba(0,255,0,1) 52%);
}

/* #shaF94C66 */
.btn {
    width: 100px;    
    margin: 2px;
}

.status-box {    
    /* status bar styles */
    position: fixed;
    top: 15px;
    left: 15px;
}

.nums {      
    width: 300px;  
    display: flex;    
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.num {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid transparent;
    z-index: 2;
    background-color: #fff;
    transition: .4s linear;
    position: relative;
}

.line {
    height: 5px;
    width: 0%;
    position: absolute;
    border-radius: 5px;    
    background-color: var(--line-fill);        
    transition: .4s linear;
}

.status-box::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 5px;
    width: 100%;    
    background-color: var(--line-empty);
    z-index: -1;
}

.fill {
    border-color: var(--line-fill);
}

.final-effect::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: solid 4px transparent;
    border-bottom-color: var(--line-fill);
    animation: effect 1s linear forwards 1s;
}

@keyframes effect {
    0% {        
        transform: rotate(0);
    }

    90% {
        transform: rotate(370deg);
    }

    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}

.menu-box {
    height: 300px;
    width: 300px;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, .4);
    transform: rotate(-90deg);    
    transform-origin: top right;
    transition: .4s ease-out;
    border-radius: 10px;
    z-index: 5;
}

.rotate {
    transform: rotate(0deg);   
}

.menu-circle {
    /* rotating menu styles */
    height: 200px;
    width: 200px;
    position: absolute;
    top: -100px;
    right: -100px;
    background-color: var(--line-fill);
    border-radius: 50%;
}

.fas {
    cursor: pointer;
    text-align: center;
}

.menu-icon-open {    
    width: 50px;    
    transform: translate(35px, 30px) rotate(90deg);
}

.menu-icon-close {
    width: 50px;    
    transform: translate(-40px, 120px);
}

.menu-item-box {    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;    
}

.menu-item-box a {    
    width: 90%;
    color: #fff;
    display: block;
    opacity: 0;
    transform: translateX(150px);
    transition: .4s ease-out .5s;
}

.menu-box.rotate .menu-item-box a  {
    opacity: 1;
    transform: translateX(0px);
}


